/*----当前的样式名：cccccccccccccc  ------ 技术支持：DM企业建站 www.demososo.com---------------*/
 body{background: ;color:#000} 
 .container{width: 1200px; margin-left:auto;margin-right:auto;position:relative; } 
 a{color:#666;text-decoration:none; } a:hover{color:#3DA8E0}      
 .sidebar a.active{font-weight:bold;color:#57B626}
 .topsearch .searchbtn{background:#57B626;color:#fff }
 .pageroll a,.pageroll span{border:1px solid #ddd;background:#e2e2e2;color:#57B626;}
.pageroll span{color:#bbb}
.pageroll a.cur,.pageroll a:hover{color:#fff;background:#57B626} 
.header{background:#96D178 ;color:#448C1E} 
 .header a{color:#448C1E} 
 .header a:hover{color:#295412} 
.footer{background:#96D178 ;color:#448C1E} 
 .footer a{color:#448C1E} 
 .footer a:hover{color:#295412} 
.boxheader{height: 40px;background:#58B628 ;}
.boxheader h3{color:#fff;border-left:5px solid #fff}
.boxheader .more{color:#fff}.boxheader .more:hover{color:#fff}
.content_header h3{border-left: 5px solid #58B628;}.content_header{border-bottom: 1px solid #58B628;}
.sdheader{height:40px;line-height:40px; background:#58B628; color: #fff;}.newsgridlist h3{background} 
 /*----------仅限pc端样式---------*/
@media (min-width: 801px) {
 
.menu{background:#57B626 ;height: 50px ;line-height:50px;border-bottom:0;z-index:99;    } 
 .menu li.m{background:#57B626;border-bottom:0;}  
 .menu a{color:#fff} 
 .menu a:hover,.menu a.active{background:#008D25 ;color:#fff} 
.menu li li{background:#038D20;height: 30px ;line-height:30px;border-bottom:1px solid  #57B626;z-index:99;    } 
 .menu li li a{color:#fff} 
 .menu li li a:hover,.menu li li a.active{background:#CDFF69;color:#57B626} 
}

 /*----------custom css textarea---------*/

 body{background-attachment: fixed;}
.bgarea,.bgboxcontent{background:#fff}

.headertop{height:30px;line-height:30px;background:#b5d1ee}
.topimg{display:none}
.header{position:relative; height: 108px;   }
.headerright {height: 90px;  }
/*
.area .bgarea{border-top:0;border-left:2px solid #ccc;box-shadow: -2px 0px 5px #888888;box-shadow: 2px 0px 5px #888888;}
*/
.bannerimg{height: 250px; }
 
/*移动端的样式*/
@media (max-width: 800px) {
.sidebar{display:none}
.area .bgarea{border:0}
 
}
/*pc端的样式*/
@media (min-width: 801px) {
.menu a{text-decoration:none;display:block; }
.menu li{position:relative;z-index:200; } 
.menu li.m{float:left; display:inline;}
.menu a.m{font-size:17px;padding:0 28px;}
.menu li li a{display:block;padding:0 10px; }
.menu ul ul{display: none;position:absolute;width:180px ;z-index:210; }
.menu ul ul ul{left:180px;top:0px;}
.sf-sub-indicator{top:30px}
.menu li li .sf-sub-indicator{top:15px}
 
}